html,
body{
  height: 100%;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.page-container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: $contacttext;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
  text-decoration: none;
}


.title{
  font-size: 36px;
  line-height: auto;
  color: $suptitle;
  @extend %dmsans-700;
  text-align: center;
  padding-bottom: 35px;
}

.filter-btn{
  font-size: 16px;
  line-height: auto;
  color: $subtext;
  @extend %dmsans-700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo__img{
  width: 146px;
  height: 40px;
}


.breadcrumbs{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding-right: 21px;
    position: relative;
    &::after{
      content: "/";
    position: absolute;
    right: 9px;
    top: 2px;
    }
  }
  &__item:last-child{
    padding-right: 0;
    &::after{
      display: none;
    }
  }
  &__link{
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: #888c91;
  }
}

.modal{
    padding-top: 120px;
    max-width: 470px;
    margin: 0 auto 120px;
    &__form{
      border-bottom: 2px solid #f6f6f6;
    }
    &__label{
      display: block;
      font-size: 14px;
      @extend %rubik-400;
      color: $default;
      margin-bottom: 20px;
    }
    &__input{
      display: block;
      width: 100%;
      border: none;
      background-color: #fff;
      margin-top: 10px;
      height: 60px;
      padding: 0 15px;
      border: 2px solid #f6f6f6;
    }
    &__btn{
      width: 100%;
      font-size: 18px;
      line-height: 20px;
      @extend %rubik-500;
      color: #fff;
      background-color: #a3bbc8;
      padding: 20px 0;
      border: none;
      margin-top: 20px;
    }
    &__label-bottom{
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      font-size: 14px;
      line-height: 48px;
      @extend %rubik-400;
      color: $default;
    }
    &__error{
      font-size: 14px;
      line-height: 48px;
      @extend %rubik-400;
      color: $default;
    }
    &__register{
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 28px;
      @extend %rubik-400;
      color: $default;
      margin: 24px 0;
    }
    &__create{
      text-align: center;
      display: block;
      width: 100%;
      font-size: 18px;
      @extend %rubik-500;
      color: $title;
      border: 2px solid $suptext;
      padding: 20px 0;
    }
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  &__list{
    display: flex;
  }
  &__link,
  &__next{
    display: inline-block;
    height: 50px;
    font-size: 16px;
    line-height: 30px;
    color: $title;
    border: 1px solid $suptext;
    padding: 16px 20px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link--active{
    background-color: $suptext;
    color: #fff;
  }
}

@media (max-width: 500px){
  .title{
    font-size: 28px;
    padding-bottom: 15px;
  }
}


