.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,
.irs--flat .irs-min, .irs--flat .irs-max,
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-line{
  top: 15px;
  height: 3px;
  width: 100%;
  background-color: $suptext;
}
.irs--flat .irs-bar{
  top: 14px;
  height: 5px;
  background-color: $suptext;
}
.irs--flat .irs-handle{
  top: 9px;
  width: 15px;
  height: 15px; 
  background-color: $suptext;
}

.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 30px;
  }
  &__filter-btn{
    display: none;
  }
}

.shop-content{
  width: 100%;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__item{
      margin-bottom: 40px;
    }
  }
  &__filter{
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
  }
  &__filter-buttons{
    display: flex;
    align-items: center;
  }
  &__filter-btn{
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    height: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
        fill: $title;
      }
    }
  }
}

.filter{
  &__item{
    margin-bottom: 70px;
  }
  &__title{
    display: inline-block;
    text-transform: uppercase;
    color: $title;
    font-size: 18px;
    line-height: auto;
    margin-bottom: 25px;
    padding-right: 55px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      background-color: $suptext;
      right: 0;
      top: 11px;
    }
  }
}

.filter-category{
  &__label{
    margin-bottom: 3px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    font-size: 16px;
    line-height: 43px;
    background-color: transparent;
    border-radius: 5px;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      background-image: url(../images/icons/arrow-categiry.svg);
      right: 22px;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.filter-brand{
  &__label{
    margin-bottom: 3px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    font-size: 16px;
    line-height: 43px;
    background-color: transparent;
    border-radius: 5px;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
  }
  &__num{
    width: 70px;
    text-align: center;
  }
}

.filter-recent{
  &__item{
    display: flex;
    height: 70px;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__img{
    border: 3px solid #f2f2f2;
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  &__info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  &__price{
    font-size: 15px;
    line-height: 27px;
    color: #333333;
  }
}

.products{
  margin: 70px 0 80px;
  &__filter{
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 75px;
  }

  &__filter-btn.mixitup-control-active{
    color: $suptitle;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    min-width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    position: relative;
  }
  &__item-add{
    position: absolute;
    width: 170px;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
  &__item-add__inner{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__item-images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item:hover{
    .products__item-add{
      z-index: 10;
    }
    svg{
      path{
        fill:#a3bbc8;
      }
    }
  }
  &__item-add__inner:hover{
    background-color: #a3bbc8;
    svg{
      path{
        fill:#fff;
      }
    }
  }
  &__item-inner{
    min-width: 270px;
    height: 270px;
    position: relative;
    margin-bottom: 30px;
  }
  &__item-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  &__item-title{
    font-size: 16px;
    color: $title;
    @extend %dmsans-500;
  }
  &__item-text{
    color: $suptext;
    @extend %dmsans-700;
  }
  &__item-box__inner{
    display: none;
  }
}

.products__item{
  &.products__item--list{
    min-width: 100%;
    height: 500px;
    display: flex;
    text-align: left;
    box-shadow: none;
    position: relative;
    .products__item-inner{
      display: block;
      min-width: 370px;
      height: 500px;
      border: 2px solid #f2f2f2;
      margin-right: 60px;
    }
    .products__item-img{
      width: 65%;
    }
    .products__item-info{
      display: none;
    }
    .products__item-box{
      max-width: 415px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333333;
    }
    .products__item-box__inner{
      display: block;
      margin-bottom: 30px;
    }
    .products__item-add{
      position: relative;
      transform: none;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .products__item-add__inner{
      position: absolute;
      width: 50px;
      min-height: 50px;
      border-radius: 0;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      svg{
        path{
          fill:#a3bbc8;
        }
      }
      &:hover{
        background-color: #a3bbc8;
        svg{
          path{
            fill:#fff;
          }  
        }
      }
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        left: 0;
        z-index: 100;
        position: relative;
        background-color: #a3bbc8;
        // transition: all 0.5s; тоже интересно
        transition: all 0.1s;  
        &:hover{
          transition: all 0.5s;
          width: 208px;
          height: 50px;
          border-radius: 5px;
          position: relative;
          &::before{
            position: absolute;
            content: 'Add to cart';
            text-transform: uppercase;
            width: 110px;
            font-size: 15px;
            line-height: 30px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          svg{
            display: none;
          }
        }
        svg{
          path{
            fill:#fff;
          }
        }
      }
      &:nth-child(3){
        left: 60px;
      }
    }
    .products__item-box__title{
      @extend %rubik-400;
      font-size: 40px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .products__item-box__price{
      @extend %rubik-400;
      font-size: 30px;
      line-height: 45px;
      margin: 20px 0;
    }
    .products__item-box__text{
      font-size: 16px;
      line-height: 30px;
      color: $title;
    }
    .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    .jq-ry-container>.jq-ry-group-wrapper {
      width: 120px;
    }
  }  
}

@media (max-width: 1200px){
  .shop{
    &__filters{
      display: none;
    }
    &__inner{
      display: block;
    }
    &__filters{
      width: 100%;
      padding: 20px;
      margin-right: 0;
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 100;
      background-color: #fff;
    }
    &__filter-btn{
      display: block;
      border: none;
      background-color: #acb4bb;
      padding: 0;
      width: 60px;
      height: 60px;
      position: fixed;
      border-radius: 25%;
      right: 10px;
      bottom: 50px;
      z-index: 101;
      &::before{
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url(../../images/icons/filter-solid.svg);
        top: 12px;
        left: 10px;
      }
    }
  }
  .filter-recent{
    &__items{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      padding: 0 30px;
    }
  }
}

@media (max-width: 1100px){
  .shop-content{
    &__inner{
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 900px){
  .shop-content{
    &__inner{
      justify-content: space-between;
    }
  }
  .products__item{
    width: 49%;
  }
  .shop-content__filter-btn{
    display: none;
  }
}

@media (max-width: 600px){
  .shop{
    padding: 70px 0;
  }
  .products__item{
    width: 100%;
  }
}

@media (max-width: 550px){
  .filter-recent{
    &__item{
      width: 100%;
    }
  }
}