<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {# <link rel="stylesheet" href="css/style.min.css"> #}
  <link rel="stylesheet" href="css/contacts.min.css">
</head>
<body>
  
  {% include 'docs/module/_header/_header.html' %}

  <main class="main">

    {% include 'docs/module/_top/_top.html' %}

    {% include 'docs/module/_contact/_contact.html' %}

    {% include 'docs/module/_info/_info.html' %}
    
  </main>

  {% include 'docs/module/_footer/_footer.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>
  
  <script>
    let map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 29.783562214711864, lng: -95.33649253687376 },
        zoom: 9,
        styles: [
          {
            "elementType": "geometry",
            "stylers": [
              {
                "hue": "#ff4400"
              },
              {
                "saturation": -68
              },
              {
                "lightness": -4
              },
              {
                "gamma": 0.72
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon"
          },
          {
            "featureType": "landscape.man_made",
            "elementType": "geometry",
            "stylers": [
              {
                "hue": "#0077ff"
              },
              {
                "gamma": 3.1
              }
            ]
          },
          {
            "featureType": "water",
            "stylers": [
              {
                "hue": "#00ccff"
              },
              {
                "gamma": 0.44
              },
              {
                "saturation": -33
              }
            ]
          },
          {
            "featureType": "poi.park",
            "stylers": [
              {
                "hue": "#44ff00"
              },
              {
                "saturation": -23
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "hue": "#007fff"
              },
              {
                "gamma": 0.77
              },
              {
                "saturation": 65
              },
              {
                "lightness": 99
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "gamma": 0.11
              },
              {
                "weight": 5.6
              },
              {
                "saturation": 99
              },
              {
                "hue": "#0091ff"
              },
              {
                "lightness": -86
              }
            ]
          },
          {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
              {
                "lightness": -48
              },
              {
                "hue": "#ff5e00"
              },
              {
                "gamma": 1.2
              },
              {
                "saturation": -23
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "saturation": -64
              },
              {
                "hue": "#ff9100"
              },
              {
                "lightness": 16
              },
              {
                "gamma": 0.47
              },
              {
                "weight": 2.7
              }
            ]
          }
        ]
      });
    }
  </script>


  <script src="js/main.min.js"></script>
</body>
</html>