.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    width: 830px;
    margin-right: 70px;
  }
  &__aside{
    width: 270px;
  } 
  &__item{
    margin-bottom: 50px;
    position: relative;
  }
  &__item-img{
    width: 830px;
    height: 500px;
    object-fit: cover;
  }
  &__item-box{
    position: absolute;
    display: flex;
    left: 0;
    top: 430px;
    width: 275px;
    height: 70px;
    background-color: #a3bbc8;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-date,
  &__item-author{
    position: relative;
    padding-left: 20px;
    &::before{
      position: absolute;
      content: "";
      width: 12px;
      height: 13px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__item-date{
    &::before{
      background-image: url(../images/icons/calendar-white.svg);
    }
  }
  &__item-author{
    margin-left: 25px;
    &::before{
      background-image: url(../images/icons/author.svg);
    }
  }
  &__item-title{
    font-size: 36px;
    line-height: 43px;
    color: #333333;
    margin: 35px 0;
  }
  &__item-text{
    margin-bottom: 40px;
  }
  &__item-links{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 12px;
    color: $suptext;
    @extend %rubik-500;
    border: 1px solid $suptext;
    padding: 23px 85px 23px 20px;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrows-blue.svg);
      background-repeat: no-repeat;
      display: block;
      width: 22px;
      height: 9px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__pagination{
    justify-content: start;
    margin-top: 75px;
    a{
      margin: 0 16px 0 0;
    }
    .pagination{
      &__next{
        margin: 0;
      }
    }
  }
}

.recent{
  &__item{
    display: flex;
    & + .recent__item{
      margin-top: 22px;
    }
  }
  &__link{
    min-width: 71px;
    height: 71px;
    margin-right: 20px;
  }
  &__box-title{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  } 
  &__date{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
    padding-left: 20px;
    &::before{
      position: absolute;
      content: "";
      width: 12px;
      height: 13px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/icons/calendar.svg);
      background-size: cover;
    }
  }
}

.filter{
  &__item{
    margin-bottom: 70px;
  }
  &__title{
    display: inline-block;
    text-transform: uppercase;
    color: $title;
    font-size: 18px;
    line-height: auto;
    margin-bottom: 25px;
    padding-right: 55px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      background-color: $suptext;
      right: 0;
      top: 11px;
    }
  }
}

.filter-search{
  &__form{
    position: relative;
  }
  &__input{
    padding: 5px 10px;
    width: 223px;
    height: 43px;
    border: 2px solid #ebf1f3;
    border-radius: 5px;
  }
  &__btn{
    position: absolute;
    width: 50px;
    height: 43px;
    background-color: #ebf1f3;
    border-radius: 5px;
    right: 0;
    border: none;
    padding: 13px 15.5px;
    img{
      width: 17px;
      height: 17px;
    }
  }
}

.filter-category{
  &__label{
    margin-bottom: 3px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    font-size: 16px;
    line-height: 43px;
    background-color: transparent;
    border-radius: 5px;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      background-image: url(../images/icons/arrow-categiry.svg);
      right: 22px;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

@media (max-width: 1200px){
  .blog-page{
    .filter-category,
    .recent{
      display: none;
    }
    &__inner{
      flex-direction: column;
    }
    &__content{
      width: 100%;
    }
    &__aside{
      width: 100%;
      order: -1;
    }
    &__item-img{
      width: 100%;
    }
    &__pagination{
      display: flex;
      justify-content: center;
    }
  }
  .filter-search{
    &__input{
      width: 100%;
    }
  }
}

@media (max-width: 800px){
  .blog-page{
    padding: 70px 0;
    &__item-img{
      height: 370px;
    }
    &__item-box{
      top: 300px;
    }
  }
}

@media (max-width: 600px){
  .blog-page{
    padding: 70px 0;
    &__item-img{
      height: 300px;
    }
    &__item-box{
      top: 230px;
    }
  }
}

@media (max-width: 400px){
  .blog-page{
    padding: 70px 0;
    &__item-img{
      height: 220px;
    }
    &__item-box{
      top: 180px;
      height: 40px;
      width: 100%;
    }
    &__item-title{
      font-size: 28px;
      line-height: 32px;
      margin: 20px 0;
    }
    &__item-text{
      margin-bottom: 20px;
    }
    &__item-links{
      width: 100%;
      padding: 15px 85px 15px 20px;
    }
  }
}
